style.css
Who has access
S
Y
System properties
Type
Style Sheet
Size
1 KB
Storage used
1 KBOwned by Angelo State University
Location
studio 1
Owner
Sasha Montag
Modified
4:02 PM by Sasha Montag
Opened
10:06 PM by me
Created
4:02 PM
Add a description
Viewers can download
@charset "UTF-8";

/*
CS 3312, spring 2022
Studio 1
YOUR NAME: ___
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

body {
   /* Set the background color of the whole document to a light gray. */
   background-color: rgb(240, 240, 240);
}

/* Make a major heading stand out. */
h1 {
   background-color: rgb(60, 0, 15);
   color: rgb(195, 255, 225);
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
}

/* Style the original greeting. */
.greeting {
   border-color: rgb(60, 0, 15);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}

/* Add style to a greeting that's become more enthusiastic. */
.greeting.enthusiastic {
   background-color: rgb(60, 0, 15);
   color: rgb(255, 255, 255);
   font-size: 150%;
   font-style: italic;
}

/* ADD NEW CSS RULES HERE */
